#header {
    display: block;
    height: 568px;
    background: url('../img/header-bg.jpg') center center no-repeat;
    background-size: cover;
    margin: 0 0 -155px;

    .highresdisplay & {
        background-image: url('../img/header-bg-2x.jpg');
    }

    .header-bar {
        background: #182030;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        padding: 15px 0 0;
        height: 55px;
        @include transition(background, 0.5s);

        &.is-fixed {
            background: #182030;
        }
    }

    .header-logo-wrapper {
        float: left;
        line-height: 26px;
        @include font-normal();
        font-size: 0;
        color: #FFF;
        vertical-align: top;
        padding: 5px 0 0;
    }

    .header-logo {
        display: inline-block;
        vertical-align: top;
        background: url('../img/logo.svg') -6px -9px no-repeat;
        background-size: 74px 38px;
        width: 58.5px;
        height: 25.5px;
        margin: 0 10px 0 0;
    }

    .top-menu-wrapper {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
    }

    .header-slogan {
        @include font-normal();
        font-size: 24px;
        line-height: 1.2em;
        color: #FFF;
        text-align: center;
        padding: 200px 25px 0;
        margin: 0;
    }

    @media screen and (min-width: $tablet-width) {
        height: 468px;

        .header-logo {
            background-position:-8px -10px;
            background-size: 90px 47px;
            width: 71px;
            height: 32px;
        }

        .header-bar {
            padding: 7.5px 0 0;
            background: transparent;
        }

        .top-menu-wrapper {
            float: right;
            position: static;
        }

        .header-slogan {
            padding: 170px 0 0;
        }
    }

    @media screen and (min-width: $desktop-width) {
        height: 700px;

        .header-bar {
            padding: 15px 0 0;
            height: 70px;
        }

        .header-logo-wrapper {
            font-size: $text-normal-size;
        }

        .header-slogan {
            font-size: 41px;
            padding: 275px 0 0;
        }
    }
}

.top-menu-toggle {
    display: block;
    margin: 5px 0 0;
    width: 14px;
    height: 14.5px;
    background: url('../img/icons/menu-open.png') 0 0 no-repeat;
    background-size: 100%;
    float: right;

    &.is-opened {
        background-image: url('../img/icons/menu-close.png');
    }

    @media screen and (min-width: $tablet-width) {
        display: none;
    }
}

#top-menu {
    display: none;
    background: rgba(#111d35, 0.8);
    padding: 20px;
    @include clearfix();

    &.is-opened {
        display: block;
    }

    .top-menu {
        display: table;
        width: 100%;
        max-width: 300px;
        margin: 0 0 20px;
        list-style: none;
        font-size: 0;

        li {
            display: table-cell;
            vertical-align: top;
            margin: 0;
            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }

            a {
                display: inline-block;
                @include font-semibold();
                font-size: $text-normal-size;
                line-height: 36px;
                color: #b2bbcf;
                padding: 0;
                border-bottom: 2px solid transparent;
                @include transition(all, 0.2s);

                &,
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }

                &:hover {
                    color: #FFF;
                }

                &.is-active {
                    border-bottom-color: #32589a;
                    color: rgba(#FFF, 0.8);
                }
            }
        }
    }
    
    .lang-dropdown-wrapper {
        float: left;
    }
    
    .contact-button-wrapper {
        float: right;

        .btn {
            padding: 0 15px;
        }
    }

    @media screen and (min-width: $tablet-width) {
        display: block;
        margin: 0;
        background: transparent;
        padding: 0;

        .top-menu {
            display: block;
            float: left;
            width: auto;
            max-width: none;

            li {
                display: inline-block;
                margin: 0 30px 0 0;
                text-align: center;

                &:first-child {
                    text-align: center;
                }

                &:last-child {
                    text-align: center;
                    margin-right: 0;
                }
            }
        }

        .lang-dropdown-wrapper {
            margin: 0 15px;
        }
    }

    @media screen and (min-width: $desktop-width) {
        .top-menu {
            li {
                margin: 0 44px 0 0;

                a {
                    padding: 0 12px;
                }
            }
        }

        .lang-dropdown-wrapper {
            margin: 0 30px;
        }
    }
}

.dropdown {
    position: relative;

    .dropdown-toggle {
        display: block;
        border: none;
        background: transparent;
        cursor: pointer;
        @include font-semibold();
        font-size: $text-normal-size;
        line-height: 36px;
        color: #b2bbcf;
        padding: 0 0 2px 5px;
        @include border-radius(3px 3px 0 0);

        &:hover {
            color: #FFF;
        }

        .icon {
            margin: 0 0 0 10px;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 37px;
        left: 0;
        right: 0;
        background: #2e5bab;
        padding: 1px 0 0;

        @include border-radius(0 0 3px 3px);

        a {
            display: block;
            padding: 0 0 0 5px;
            @include font-semibold();
            font-size: $text-normal-size;
            line-height: 30px;
            color: #c8d7f0;

            &,
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }

            &:hover {
                background: #224b93;
            }
        }

        li {
            &:last-child {
                a {
                    @include border-radius(0 0 3px 3px);
                }
            }
        }
    }

    &.is-opened {
        .dropdown-toggle {
            color: #FFF;
            background: #2e5bab;

            .icon {
                &:before {
                    @include flipVertically();
                }
            }
        }

        .dropdown-menu {
            display: block;
        }
    }

    @media screen and (min-width: $tablet-width) {
        .dropdown-toggle {
            padding-left: 25px;
            padding-right: 20px;
        }

        .dropdown-menu {
            a {
                padding-left: 25px;
                padding-right: 20px;
            }
        }
    }
}
