.features-list-wrapper {
    @media screen and (min-width: $tablet-width) {
        margin: 0 -10px;
    }
}

.feature-list {
    font-size: 0;

    .feature {
        background: #FFF;
        border: 1px solid #eaeaea;
        @include border-radius(3px);
        padding: 15px;
        margin: 20px 0 0;

        &:first-child {
            margin-top: 0;
        }

        .feature-header {
            @include font-bold();
            font-size: $text-enlarged-size;
            line-height: 42px;
            color: #1c1c1c;
            margin: 0 0 15px;
            white-space: nowrap;
        }

        .feature-icon {
            width: 42px;
            height: 42px;
            display: inline-block;
            vertical-align: top;
            margin: 0 20px 0 0;
            background: url('') left center no-repeat;
            background-size: 42px 42px;

            &.feature-icon-design {
                background-image: url('../img/features/icon-design.svg');
            }

            &.feature-icon-development {
                background-image: url('../img/features/icon-development.svg');
            }

            &.feature-icon-qa {
                background-image: url('../img/features/icon-qa.svg');
            }
        }

        .feature-benefits {
            display: block;
            list-style: none;
            @include font-normal();
            font-size: $text-normal-size;
            line-height: 1.5em;
            color: #45505f;
            margin: 0;
            padding: 0;

            li {
                padding: 0 0 0 20px;
                margin: $text-normal-size/2 0 0;
                position: relative;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    content: $icon-symbol-list-item;
                    font-family: $icon-font;
                    color: #32589a;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: $text-normal-size * 1.5;
                    font-size: $text-normal-size * 1.5;
                }
            }
        }
    }

    @media screen and (min-width: $tablet-width) {
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px 0;

        .feature {
            display: table-cell;
            width: 33.3%;
            vertical-align: top;
            margin: 0;
            padding: 25px 20px;

            .feature-header {
                margin-bottom: 35px;
            }

            .feature-icon {
                margin-right: 10px;
            }

            .feature-benefits {
                min-height: 100px;
            }
        }
    }

    @media screen and (min-width: $desktop-width) {
        .feature {
            padding: 30px 40px;

            .feature-icon {
                margin-right: 20px;
            }
        }
    }
}
