.projects {
    .project {
        min-height: 300px;
        background: url('') center center no-repeat;
        background-size: cover;
        @include border-radius(3px);
        margin: 0 0 10px;
        position: relative;
        z-index: 1;
        padding: 0 0 185px;
        overflow: hidden;

        .project-image {
            position: absolute;
            bottom: 0;
            left: -25%;
            right: -25%;
            z-index: 0;
            height: 185px;
            background: url('') center bottom no-repeat;
            background-size: 100%;
            @include border-radius(3px);
        }

        .project-details {
            position: relative;
            z-index: 1;
            padding: 40px 35px;
        }

        .project-logo {
            display: block;
            background: url('') 0 0 no-repeat;
            margin: 0 0 30px;
        }

        .project-description {
            @include font-normal();
            font-size: $text-normal-size;
            line-height: 1.5em;
            color: #f0f3f6;
            margin: 0 0 35px;

            p {
                margin: 0;
            }
        }

        .project-labels {
            font-size: 0;

            .project-label {
                cursor: default;
                display: inline-block;
                vertical-align: top;
                @include font-normal();
                font-size: $text-small-size;
                line-height: 30px;
                color: #a7b1bd;
                margin: 0 5px 5px 0;
                padding: 0 22px;
                border: 1px solid #a7b1bd;
                @include border-radius(3px);
            }
        }

        &.project-cargo {
            background-image: url('../img/projects/cargo-bg.png');

            .project-image {
                background-image: url('../img/projects/cargo-image.png');
                background-size: 471px 188.25px;
            }

            .project-logo {
                background-image: url('../img/projects/cargo-logo.png');
                background-size: 100%;
                width: 122px;
                height: 38px;
            }

            .highresdisplay & {
                .project-image & {
                    background-image: url('../img/projects/cargo-image-2x.png');
                }

                .project-logo {
                    background-image: url('../img/projects/cargo-logo-2x.png');
                }
            }
        }

        &.project-vernimoment {
            background-image: url('../img/projects/vernimoment-bg.png');

            .project-image {
                background-image: url('../img/projects/vernimoment-image.png');
                background-size: 477px 193.5px;
            }

            .project-logo {
                background-image: url('../img/projects/vernimoment-logo.png');
                background-size: 100%;
                width: 107px;
                height: 41px;
            }

            .highresdisplay & {
                background-image: url('../img/projects/vernimoment-bg-2x.png');

                .project-image & {
                    background-image: url('../img/projects/vernimoment-image-2x.png');
                }

                .project-logo {
                    background-image: url('../img/projects/vernimoment-logo-2x.png');
                }
            }
        }

        &.project-belinterexpo {
            background: #252c36;

            .project-image {
                background-image: url('../img/projects/belinterexpo-image.png');
                background-size: 100%;
                background-position: center top;
                height: 220px;
            }

            .project-logo {
                background-image: url('../img/projects/belinterexpo-logo.png');
                background-size: 100%;
                width: 145px;
                height: 32px;
            }

            .highresdisplay & {
                .project-image & {
                    background-image: url('../img/projects/belinterexpo-image-2x.png');
                }

                .project-logo {
                    background-image: url('../img/projects/belinterexpo-logo-2x.png');
                }
            }
        }
    }

    .project-empty {
        border: 1px dashed #e2e2e2;
        background: #f2f3f5 url('../img/projects/empty-bg.svg') 10px 40px no-repeat;
        background-size: 276px 159.5px;
        @include border-radius(3px);
        position: relative;
        z-index: 1;
        padding: 250px 35px 40px;

        .project-details {
            vertical-align: top;
            text-align: center;
        }

        .project-empty-description {
            @include font-thin();
            font-size: $text-normal-size * 1.5;
            line-height: 1em;
            margin: 0 0 20px;
            text-align: center;
        }
    }

    @media screen and (min-width: $tablet-width) {
        .project {
            height: 300px;
            background-size: cover;
            padding: 0;

            .project-image {
                top: 0;
                right: 0;
                bottom: 0;
                left: auto;
                height: auto;
                width: 50%;
            }

            .project-details {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                padding: 45px 35px;
                width: 50%;
            }

            &.project-cargo {
                .project-image {
                    background-position: right bottom;
                    background-size: 100%;
                }
            }

            &.project-vernimoment {
                .project-image {
                    background-position: right bottom;
                    background-size: 100%;
                }
            }

            &.project-belinterexpo {
                .project-image {
                    background-position: right center;
                    top: -25%;
                    bottom: -25%;
                    background-size: 100%;
                    width: 70%;
                    height: auto;
                }
            }
        }

        .project-empty {
            height: 300px;
            background-position: 7.5px 42.5px;
            padding: 120px 0 0 50%;
        }
    }


    @media screen and (min-width: $desktop-width) {
        .project {
            .project-details {
                padding: 75px 55px;
            }
        }

        .project-empty {
            background-position: 27.5px 72.5px;
        }
    }
}