.team-wrapper {
    @media screen and (min-width: $tablet-width) {
        margin: 0 -10px;
    }
}

.team {
    padding: 0 0 50px;
    font-size: 0;

    .team-member {
        background: #FFF;
        border: 1px solid #eaeaea;
        @include border-radius(3px);
        padding: 25px 30px;
        margin: 20px 0 0;

        &:first-child {
            margin-top: 0;
        }

        .team-member-image {
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto 15px;
            background: url('') 0 0 no-repeat;
            background-size: 100%;

            &.team-member-image-1 {
                background-image: url('../img/team/team-member-1.png');

                .highresdisplay & {
                    background-image: url('../img/team/team-member-1-2x.png');
                }
            }

            &.team-member-image-2 {
                background-image: url('../img/team/team-member-2.png');

                .highresdisplay & {
                    background-image: url('../img/team/team-member-2-2x.png');
                }
            }

            &.team-member-image-3 {
                background-image: url('../img/team/team-member-3.png');

                .highresdisplay & {
                    background-image: url('../img/team/team-member-3-2x.png');
                }
            }
        }

        .team-member-name {
            @include font-bold();
            font-size: $text-enlarged-size;
            line-height: 1.2em;
            margin: 0;
            color: #3c414c;
            text-align: center;
        }

        .team-member-position {
            @include font-bold();
            font-size: $text-normal-size;
            line-height: 1.2em;
            margin: 0 0 30px;
            color: #bec2cb;
            text-align: center;
        }

        .team-member-description {
            @include font-normal();
            font-size: $text-small-size * 1.1;
            line-height: 1.5em;
            color: #9097a5;
        }
    }

    @media screen and (min-width: $tablet-width) {
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px 0;

        .team-member {
            display: table-cell;
            width: 33.3%;
            vertical-align: top;
            margin: 0;
        }
    }
}
