// BODY
$container-width: 1130px;
$content-width: 1240px;
$content-width-small: 980px;

// HEADER
$header-height: 80px;
$header-bottom-offset: 30px;

// FOOTER
$footer-height: 60px;

// INPUTS
$input-padding: 9px;
$input-radius: 3px;

// TEXT
$text-size: 13px;
$text-small-size: 10px;
$text-normal-size: 12px;
$text-enlarged-size: 14px;
$text-large-size: 16px;
