<footer id="footer">
    <div class="content">
        <div class="footer-left-part">
            <div class="footer-logo"></div>
        </div>
        <div class="footer-right-part">
            <p>@Text.Footer_Copyright @DateTime.Now.Year</p>
        </div>
    </div>
</footer>
